body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 40px;
}
main {
  display: flex;
  height: 100%;
}

aside {
  flex: 1;
  /* background-color: white; */
  padding: 80px;
  height: 100%;
}
aside h1 {
  font-size: 40px;
  /* color: black; */
  text-align: center;
}

.form h1 {
  /* color: black; */
  text-align: center;
  font-size: 40px;
}
.form {
  /* background-color: white; */
  padding: 20px;
  width: 50%;
  height: 100%;
}

.form input {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 8px 0;
  font-size: 20px;
  display: block;
  margin: 10px 0;
  width: 100%;
}

.form button {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  display: block;
  margin: 20px 0;
  width: 100%;
  cursor: pointer;
}

.form #error {
  color: red;
  font-size: 30px;
  text-align: center;
}

.dark {
  background-color: #17222f;
  height: 100vh;
  color: #bebebe;
}

.light {
  background-color: #f0ead6;
  color: black;
  height: 100vh;
}

#content {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 60px 0;
  font-size: 20px;
  display: block;
  margin: 10px 0;
  width: 100%;
}
